.form{
    width: 900px;
    height: 1000px;
    background-color: rgb(38, 167, 9);
    border-radius:6px ;
    padding: 10px;
    margin: 20px;
}
label{
    font-size: 20px;
}

#name{
    width: 300px;
    height: 30px;
    border-radius:5px ;
    margin: 5px;
    font-size: 15px;
}
#email{
    width: 300px;
    height: 30px;
    border-radius:5px ;
    margin: 5px;
    font-size: 15px;
}
#number{
    width: 300px;
    height: 30px;
    border-radius:5px ;
    margin: 5px;
    font-size: 15px;
}
#post-code{
    width: 300px;
    height: 30px;
    border-radius:5px ;
    margin: 5px;
}
#country{
    width: 300px;
    height: 30px;
    border-radius:5px ;
    margin: 5px;
}
#card-number{
    width: 300px;
    height: 30px;
    border-radius:5px ;
    margin: 5px;
}
#card-type{
    padding: 5px;
}
#security-code{
    width: 300px;
    height: 30px;
    border-radius:5px ;
    margin: 5px;
}
#name-card{
    width: 300px;
    height: 30px;
    border-radius:5px ;
    margin: 5px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(73, 73, 73);
    color: aliceblue;
    font-size: 15px;
    margin-top: 20px;
}